In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

data = pd.read_excel('copie de coeur.xlsx')
data

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [86]:
data.columns

Index(['AGE', 'SEXE', 'TDT', 'PAR', 'CHOLESTEROL', 'GAJ', 'ECG', 'FCMAX',
       'ANGINE', 'DEPRESSION ', 'PENTE', 'CŒUR'],
      dtype='object')

In [87]:
df=data.copy()
df

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [88]:
#voir les doublons
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
913    False
914    False
915    False
916    False
917    False
Length: 918, dtype: bool

In [89]:
# supprimer les doublons avec drop
df.drop_duplicates()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [90]:
df.shape

(918, 12)

In [91]:
#verifier les données manquantes
df.isna().sum()/df.shape[0] # fait la somme verifier et diviser par le column pour avoir le pourcentage

AGE            0.0
SEXE           0.0
TDT            0.0
PAR            0.0
CHOLESTEROL    0.0
GAJ            0.0
ECG            0.0
FCMAX          0.0
ANGINE         0.0
DEPRESSION     0.0
PENTE          0.0
CŒUR           0.0
dtype: float64

In [92]:
#verifier les constantes
df.nunique()
#for variable

AGE             50
SEXE             2
TDT              4
PAR             67
CHOLESTEROL    222
GAJ              2
ECG              3
FCMAX          119
ANGINE           2
DEPRESSION      53
PENTE            3
CŒUR             2
dtype: int64

In [93]:
# voir les variables quantitatives

var_quant = df.select_dtypes('int64').columns

var_quant

Index(['AGE', 'PAR', 'CHOLESTEROL', 'GAJ', 'FCMAX', 'CŒUR'], dtype='object')

In [94]:
df.CŒUR= df['CŒUR'].astype('object')# modifier la colonne coeur du dataframe en type Object
df.CŒUR

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: CŒUR, Length: 918, dtype: object

In [95]:
#normalisation des variables quantitatives

def normlise_v_quant(df):
    #for i in df.select_dtypes('int64'):
    #  if 
    for i in df.columns:
        if(i in df.select_dtypes('object').columns)==False:
            df[i]=df[i]/df[i].max()
    return df
normlise_v_quant(df)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,0.519481,homme,AA,0.70,0.479270,0.0,Normal,0.851485,Non,0.000000,Ascendant,0
1,0.636364,femme,DNA,0.80,0.298507,0.0,Normal,0.772277,Non,0.161290,Plat,1
2,0.480519,homme,AA,0.65,0.469320,0.0,ST,0.485149,Non,0.000000,Ascendant,0
3,0.623377,femme,ASY,0.69,0.354892,0.0,Normal,0.534653,Oui,0.241935,Plat,1
4,0.701299,homme,DNA,0.75,0.323383,0.0,Normal,0.603960,Non,0.000000,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.584416,homme,AT,0.55,0.437811,0.0,Normal,0.653465,Non,0.193548,Plat,1
914,0.883117,homme,ASY,0.72,0.320066,1.0,Normal,0.698020,Non,0.548387,Plat,1
915,0.740260,homme,ASY,0.65,0.217247,0.0,Normal,0.569307,Oui,0.193548,Plat,1
916,0.740260,femme,AA,0.65,0.391376,0.0,LVH,0.861386,Non,0.000000,Plat,1
917,0.493506,homme,DNA,0.69,0.290216,0.0,Normal,0.856436,Non,0.000000,Ascendant,0

In [99]:
#recoder

def  recod_qual(serie):
    return serie.astype('category').cat.codes
def recod_data_qual(df):
    for col in df.select_dtypes('object').columns:
        df[col] =  recod_qual(df[col])
    return df
    
data = recod_data_qual(data)
data

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,1,0,140,289,0,1,172,0,0.0,0,0
1,49,0,3,160,180,0,1,156,0,1.0,2,1
2,37,1,0,130,283,0,2,98,0,0.0,0,0
3,48,0,1,138,214,0,1,108,1,1.5,2,1
4,54,1,3,150,195,0,1,122,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,2,110,264,0,1,132,0,1.2,2,1
914,68,1,1,144,193,1,1,141,0,3.4,2,1
915,57,1,1,130,131,0,1,115,1,1.2,2,1
916,57,0,0,130,236,0,0,174,0,0.0,2,1
917,38,1,3,138,175,0,1,173,0,0.0,0,0

In [ ]:
#importation sklearnmodel_selection
 
from sklearn.model_selection import train_test_split

In [106]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = 0)

NameError: name 'x' is not defined

In [104]:
#initialisation du model
model = LogisticRegression(random_state = 0)
#entrainer le model .fit(variable)
model.fit(x_train,y_train)
model.score(x_test,y_test)#pourcentage de reussite

NameError: name 'x_train' is not defined

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [105]:
matx_conf= confusion_matrix(y_test,model.predict(x_test))
matx_conf

NameError: name 'confusion_matrix' is not defined

In [ ]:
precision_score(y,test.modelpredict(x,test))

In [ ]:
#taux de succes du model
accuracy = (matrice_conf[0,0] + matrice_conf[1,1]/)
accuracy*100