In [197]:
import numpy as np # importation numpy
import pandas as pd#importation pandas
import matplotlib.pyplot as plt # importation matplotlib
from sklearn.model_selection import train_test_split #importation train_test_split
from sklearn.linear_model import LogisticRegression#imporation LogisticRegression

data = pd.read_excel('copie de coeur.xlsx')# jeu de donnée
data

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [198]:
data.columns # voir les collonnes

Index(['AGE', 'SEXE', 'TDT', 'PAR', 'CHOLESTEROL', 'GAJ', 'ECG', 'FCMAX',
       'ANGINE', 'DEPRESSION ', 'PENTE', 'CŒUR'],
      dtype='object')

In [199]:
df=data.copy() # copies de donnée data
df

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

# voir les doublons

In [200]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
913    False
914    False
915    False
916    False
917    False
Length: 918, dtype: bool

# supprimer les doublons avec drop

In [201]:
df.drop_duplicates()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [202]:
df.shape

(918, 12)

# verifier les données manquantes

In [203]:
df.isna().sum()/df.shape[0] # fait la somme verifier et diviser par le column pour avoir le pourcentage

AGE            0.0
SEXE           0.0
TDT            0.0
PAR            0.0
CHOLESTEROL    0.0
GAJ            0.0
ECG            0.0
FCMAX          0.0
ANGINE         0.0
DEPRESSION     0.0
PENTE          0.0
CŒUR           0.0
dtype: float64

# verifier les constantes

In [204]:
df.nunique()
#for variable

AGE             50
SEXE             2
TDT              4
PAR             67
CHOLESTEROL    222
GAJ              2
ECG              3
FCMAX          119
ANGINE           2
DEPRESSION      53
PENTE            3
CŒUR             2
dtype: int64

# voir les variables quantitatives

In [205]:
var_quant = df.select_dtypes('int64').columns

var_quant

Index(['AGE', 'PAR', 'CHOLESTEROL', 'GAJ', 'FCMAX', 'CŒUR'], dtype='object')

In [206]:
df.CŒUR= df['CŒUR'].astype('object')# modifier la colonne coeur du dataframe en type Object
df.CŒUR

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: CŒUR, Length: 918, dtype: object

# recoder les variables qualitatives

In [207]:
#recoder

def  recod_qual(serie):
    return serie.astype('category').cat.codes
def recod_data_qual(dfs):
    for col in dfs.select_dtypes('object').columns:
        dfs[col] =  recod_qual(dfs[col])
    return dfs
    
df= recod_data_qual(df)
df

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,1,0,140,289,0,1,172,0,0.0,0,0
1,49,0,3,160,180,0,1,156,0,1.0,2,1
2,37,1,0,130,283,0,2,98,0,0.0,0,0
3,48,0,1,138,214,0,1,108,1,1.5,2,1
4,54,1,3,150,195,0,1,122,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,2,110,264,0,1,132,0,1.2,2,1
914,68,1,1,144,193,1,1,141,0,3.4,2,1
915,57,1,1,130,131,0,1,115,1,1.2,2,1
916,57,0,0,130,236,0,0,174,0,0.0,2,1
917,38,1,3,138,175,0,1,173,0,0.0,0,0

# normalisation des variables quantitatives

In [208]:


def normlise_v_quant(df):
    #for i in df.select_dtypes('int64'):
    #  if 
    for i in df.columns:
        if(i in df.select_dtypes('object').columns)==False:
            df[i]=df[i]/df[i].max()
    return df
normlise_v_quant(df)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,0.519481,1.0,0.000000,0.70,0.479270,0.0,0.5,0.851485,0.0,0.000000,0.0,0.0
1,0.636364,0.0,1.000000,0.80,0.298507,0.0,0.5,0.772277,0.0,0.161290,1.0,1.0
2,0.480519,1.0,0.000000,0.65,0.469320,0.0,1.0,0.485149,0.0,0.000000,0.0,0.0
3,0.623377,0.0,0.333333,0.69,0.354892,0.0,0.5,0.534653,1.0,0.241935,1.0,1.0
4,0.701299,1.0,1.000000,0.75,0.323383,0.0,0.5,0.603960,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.584416,1.0,0.666667,0.55,0.437811,0.0,0.5,0.653465,0.0,0.193548,1.0,1.0
914,0.883117,1.0,0.333333,0.72,0.320066,1.0,0.5,0.698020,0.0,0.548387,1.0,1.0
915,0.740260,1.0,0.333333,0.65,0.217247,0.0,0.5,0.569307,1.0,0.193548,1.0,1.0
916,0.740260,0.0,0.000000,0.65,0.391376,0.0,0.0,0.861386,0.0,0.000000,1.0,1.0
917,0.493506,1.0,1.000000,0.69,0.290216,0.0,0.5,0.856436,0.0,0.000000,0.0,0.0

# creer un dataframe X contenant de AGE a PENTE et COEUR

In [209]:
x=df.iloc[:,:-1]
x

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE
0,0.519481,1.0,0.000000,0.70,0.479270,0.0,0.5,0.851485,0.0,0.000000,0.0
1,0.636364,0.0,1.000000,0.80,0.298507,0.0,0.5,0.772277,0.0,0.161290,1.0
2,0.480519,1.0,0.000000,0.65,0.469320,0.0,1.0,0.485149,0.0,0.000000,0.0
3,0.623377,0.0,0.333333,0.69,0.354892,0.0,0.5,0.534653,1.0,0.241935,1.0
4,0.701299,1.0,1.000000,0.75,0.323383,0.0,0.5,0.603960,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
913,0.584416,1.0,0.666667,0.55,0.437811,0.0,0.5,0.653465,0.0,0.193548,1.0
914,0.883117,1.0,0.333333,0.72,0.320066,1.0,0.5,0.698020,0.0,0.548387,1.0
915,0.740260,1.0,0.333333,0.65,0.217247,0.0,0.5,0.569307,1.0,0.193548,1.0
916,0.740260,0.0,0.000000,0.65,0.391376,0.0,0.0,0.861386,0.0,0.000000,1.0
917,0.493506,1.0,1.000000,0.69,0.290216,0.0,0.5,0.856436,0.0,0.000000,0.0

In [210]:
y = df.CŒUR
y

0      0.0
1      1.0
2      0.0
3      1.0
4      0.0
      ...
913    1.0
914    1.0
915    1.0
916    1.0
917    0.0
Name: CŒUR, Length: 918, dtype: float64

# utilisation de la fonction train_test_split(x,y)

In [211]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state =0)
x_train

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE
76,0.415584,1.0,0.333333,0.590,0.877280,0.0,0.5,0.643564,0.0,0.000000,1.0
48,0.467532,1.0,1.000000,0.560,0.563847,0.0,0.5,0.910891,0.0,0.161290,1.0
304,0.662338,1.0,0.333333,0.475,0.000000,1.0,0.5,0.623762,0.0,0.354839,1.0
263,0.766234,1.0,0.333333,0.650,0.208955,0.0,0.5,0.618812,0.0,0.000000,1.0
744,0.779221,1.0,0.333333,0.585,0.381426,1.0,0.5,0.792079,1.0,0.225806,0.0
...,...,...,...,...,...,...,...,...,...,...,...
835,0.701299,1.0,0.333333,0.550,0.396352,0.0,0.5,0.623762,1.0,0.451613,1.0
192,0.623377,1.0,0.000000,0.650,0.406302,0.0,0.5,0.792079,0.0,0.000000,0.0
629,0.740260,0.0,0.333333,0.640,0.502488,0.0,0.0,0.787129,0.0,0.000000,0.0
559,0.831169,1.0,0.333333,0.670,0.452736,0.0,0.5,0.504950,1.0,0.645161,0.5
684,0.610390,1.0,1.000000,0.540,0.402985,0.0,0.5,0.752475,0.0,0.000000,0.0

In [212]:
#initialisation du model
model = LogisticRegression(random_state = 0)
#entrainer le model .fit(variable)
model.fit(x_train,y_train)
model.score(x_train,y_train)
model.score(x_test,y_test)#pourcentage de reussite

0.8333333333333334

In [213]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [214]:
matx_conf= confusion_matrix(y_test,model.predict(x_test))
matx_conf

array([[ 92,  21],
       [ 25, 138]], dtype=int64)

In [218]:
precision_score(y_test,model.predict(x_test))

0.8679245283018868

In [ ]:
#taux de succes du model
accuracy = (matrice_conf[0,0] + matrice_conf[1,1]/)
accuracy*100